
#content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    color: rgb(255, 255, 255);
    align-items: center;
    align-content: center;
}

.menu-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    text-align: center;
}
.menu-title {
    margin: 30px auto;
    font-size: 2rem;
    color: black;
}

.menu-quote {
    color: black;
    font-size: .9rem;
    font-weight: 600;
    display: block;
    margin: 20px;
    padding: 10px;
    line-height: 1.5;
    
}
.order-btn {
    border: 2px solid black;
    background-color: var(--body-color);
    text-align: center;
    padding: 10px 20px;
    margin: 20px auto;
    font-size: .8rem;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.5s ease;
}

.order-btn:hover {
    background-color: black;
    color: var(--body-color);
}